<% layout('layout.ejs') %>
    <div class="container mt-5">
        <div class="card">
            <img src="<%= product.imageUrl %>" class="card-img-top product-image img-fluid"alt="<%= product.name %>">
            <div class="card-body">
                <h3 class="card-title"><%= product.name %></h3>
                <p class="card-text"><%= product.description %></p>
                <p class="card-text font-weight-bold">₹<%= new Intl.NumberFormat('en-IN').format(product.price.toFixed(2)) %></p>
                <p class="card-text">Quantity Available: <%= product.quantity %></p>    
                
                <a href="/edit/<%= product._id %>" class="btn btn-warning">Edit Product</a>
                <form action="/delete/<%= product._id %>?_method=DELETE" method="POST" style="display: inline;">
                    <button type="submit" class="btn btn-danger">Delete Product</button>
                </form>
                <a href="/" class="btn btn-secondary mt-3">Back to Products</a>
            </div>
        </div>
    </div>
